body {

  margin: 2em;
background-color: rgb(168, 198, 254);
}


header {
  text-align: center;
  color: #FFF6D5;
  font-family: Aller;
  font-size: 80px;
}

h2 {
  text-align: center;
   color: #FFF6D5;
  font-family: Aller;
  font-size: 20px;
}

footer {
  text-align: center;
  color: #FFF6D5;
  font-family: Aller;
  font-size: 18px;
}

button1 {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}

h1 {
   text-align: center;
   color: #FFF6D5;
  font-family: Aller;
  font-size: 60px;
}

p {
  text-align: center;
   color: #FFF6D5;
  font-family: Aller;
  font-size: 30px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
   gap: 20px;
  gap: 20px 30px; /* row-gap column gap */
  row-gap: 20px;
  column-gap: 30px;
  columns: 150px;
}


img {
  border: 8px solid #fefcdd;

}

.home img{border:0;}